node_modules
.nuxt
.output
.nitro
.cache
dist

.env
.env.local
.env.*.local

.DS_Store
Thumbs.db

*.log
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

coverage
.playwright
playwright-report
test-results
